@page "/"

<PageTitle>Home</PageTitle>

<h1 class="text-3xl font-bold">
    Data Access App
</h1>

<hr />

<p class="text-lg pb-4">
    This is a simple data access app built with Blazor and .NET 8. The app
    demonstrates how to interact with a SQL Server database using Dapper.
    The app allows you to create, read, update, and delete people from the
    database.
</p>

<h2 id="create-heading" class="text-2xl font-bold">
    Create
</h2>

<p class="text-lg py-4">
    The create page allows you to add a new person to the database. You can
    enter the person's first name and last name and click the create button
    to add the person to the database.
</p>

<h2 id="read-heading" class="text-2xl font-bold">
    Read
</h2>

<p class="text-lg py-4">
    The read page displays all people in the database. You can click the edit
    button to update a person or the delete button to remove a person.
</p>

<h2 id="update-heading" class="text-2xl font-bold">
    Update
</h2>

<p class="text-lg py-4">
    The update page allows you to edit a person in the database. You can
    change the person's first name and last name and click the update button
    to save the changes.
</p>

<h2 id="delete-heading" class="text-2xl font-bold">
    Delete
</h2>

<p class="text-lg py-4">
    The delete page allows you to remove a person from the database. You can
    click the delete button to remove a person from the database.
</p>