@rendermode InteractiveServer

@if (IsVisible)
{
    <div class="modal-overlay" @onclick="Hide">
        <div class="modal-container" @onclick:stopPropagation="true">
            <div class="modal">
                <div class="modal-header">
                    <h2 class="modal-title">@Title</h2>
                    <button class="modal-close-button" @onclick="Hide">X</button>
                </div>
                <div class="modal-body">
                    <p>@Message</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-base btn-primary" @onclick="Hide">Close</button>
                    <button @onclick="@ConfirmAction" class="btn btn-base btn-destructive">Confirm</button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public required string Title { get; set; }

    [Parameter]
    public required string Message { get; set; }

    [Parameter]
    public bool IsVisible { get; set; }

    [Parameter]
    public EventCallback<bool> IsVisibleChanged { get; set; }
    [Parameter]
    public EventCallback ConfirmAction { get; set; }

    private async Task Hide()
    {
        IsVisible = false;
        await IsVisibleChanged.InvokeAsync(IsVisible);
    }
}