@page "/virtualization"
@inject IPeopleData peopleData
@rendermode InteractiveServer

<PageTitle>Virtualization</PageTitle>

<h1 class="text-3xl font-bold">
    virtualization
</h1>

<p class="text-lg py-4">
    Virtualization is a technique used to improve the performance of rendering large lists of data. This page demonstrates the use of virtualization in Blazor.
</p>

<div class="p-4 shadow rounded">
    <Virtualize Items="@people" Context="person">
        <div class="grid grid-cols-2">
            <span class="flex flex-col items-center">@person.FirstName</span>
            <span class="flex flex-col items-center">@person.LastName</span>
        </div>
    </Virtualize>
</div>

@code
{
    private List<PersonModel> people = new List<PersonModel>();
    protected override void OnInitialized()
    {
        for (int i = 0; i < 1000; i++)
        {
            people.Add(new PersonModel
            {
                FirstName = $"First Name {i+1}",
                LastName = $"Last Name {i+1}"
            });
        }
    }
}