@page "/read-people"
@inject IPeopleData peopleData
@rendermode InteractiveServer

<PageTitle>Read People</PageTitle>

<h1 class="text-3xl font-bold">
    read people
</h1>

<p class="text-lg py-4">
    The table below displays all people in the database. You can click the
    edit button to update a person or the delete button to remove a person.
</p>

@if (people == null)
{
    <div class="flex items-center justify-center">
        <i class="fa-sharp fa-thin fa-loader fa-5x animate-spin"></i>
    </div>
}
else
{
    <div class="grid p-4 shadow rounded">
        <QuickGrid Items="@PeopleQuery">
            <TemplateColumn>
                <a @key="context.Id" href="@GetEditUrl(context)" class="cursor-pointer">
                    <i class="fa-solid fa-pen-to-square"></i>
                </a>
            </TemplateColumn>
            <TemplateColumn title="First Name">
                <span class="flex flex-col items-center">
                    @context.FirstName
                </span>
            </TemplateColumn>
            <TemplateColumn title="Last Name">
                <span class="flex flex-col items-center">
                    @context.LastName
                </span>
            </TemplateColumn>
            <TemplateColumn>
                <button @key="context.Id" class="cursor-pointer">
                    <i class="fa-solid fa-trash-can"></i>
                </button>
            </TemplateColumn>
        </QuickGrid>
    </div>
    <Modal />
}

@code {
    private IEnumerable<PersonModel>? people;
    private IQueryable<PersonModel>? PeopleQuery => people?.AsQueryable();
    private string GetEditUrl(PersonModel person) => $"/update-person/{person.Id}";
    private async Task DeletePerson(PersonModel person)
    {
        await peopleData.DeletePerson(person.Id);
        await GetAllPeopleAsync();
    }
    private async Task GetAllPeopleAsync()
    {
        people = await peopleData.GetAllPeople();
    }
    protected override async Task OnInitializedAsync()
    {
        await GetAllPeopleAsync();
    }
}
